.formularioHome{
   width: 200px;
   height: 500px;
   margin: 0 auto;
   padding: 20px;
   border: 2px solid black;
   text-align: center;
}

.box_1{
    text-align: left;
    font-family: Arial;
    color: brown;
}